In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

C:\Users\User\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [2]:
bank_notes = pd.read_csv("Banknote-authentication-dataset-.csv")

In [3]:
bank_notes.head()

        V1      V2
0  3.62160  8.6661
1  4.54590  8.1674
2  3.86600 -2.6383
3  3.45660  9.5228
4  0.32924 -4.4552

In [4]:
bank_notes.mean()

V1    0.433735
V2    1.922353
dtype: float64

In [5]:
bank_notes.std()

V1    2.842763
V2    5.869047
dtype: float64

In [14]:
V1_mean = bank_notes["V1"].mean()
V2_mean = bank_notes["V2"].mean()

V1_min = bank_notes.V1.min()
V1_max = bank_notes.V1.max()

V2_min = bank_notes.V2.min()
V2_max = bank_notes.V2.max()

In [26]:
for i in range(0, len(bank_notes["V1"])):
    V1[i] = (V1[i] - V1_mean) / (V1_max - V1_min)
for i in range(0, len(bank_notes["V2"])):
    V2[i] = (V2[i] - V2_mean) / (V2_max - V2_min)

IndexError: invalid index to scalar variable.

In [24]:
print(V1, V2)

0       0.229890
1       0.296545
2       0.247515
3       0.217991
4      -0.007536
          ...
1367   -0.001990
1368   -0.131423
1369   -0.301728
1370   -0.288272
1371   -0.214585
Name: V1, Length: 1372, dtype: float64 0       0.252341
1       0.233681
2      -0.170653
3       0.284398
4      -0.238639
          ...
1367   -0.021447
1368   -0.254433
1369   -0.575533
1370   -0.385600
1371   -0.096555
Name: V2, Length: 1372, dtype: float64