In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
heart_dis = pd.read_csv("heart.csv")

In [3]:
heart_dis.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

## Using Machine Learning Model

In [15]:
# Creating the Feature Matrix (X columns)
X = heart_dis.drop("target", axis = 1)

# Creating the label
y = heart_dis["target"]

# Choosing the right ML model
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=100)

# Fitting the model to the training data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2)

clf.fit(X_train, y_train);

In [20]:
X_test.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
66,51,1,2,100,222,0,1,143,1,1.2,1,0,2
203,68,1,2,180,274,1,0,150,1,1.6,1,0,3
183,58,1,2,112,230,0,0,165,0,2.5,1,1,3
258,62,0,0,150,244,0,1,154,1,1.4,1,0,2
143,67,0,0,106,223,0,1,142,0,0.3,2,2,2

In [22]:
y_test.head()

66     1
203    0
183    0
258    0
143    1
Name: target, dtype: int64

In [18]:
y_pred = clf.predict(X_test)
y_pred

array([1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1], dtype=int64)

In [23]:
# Evaluating the model
clf.score(X_train, y_train)

1.0

In [24]:
clf.score(X_test, y_test)

0.7540983606557377

In [28]:
# Improving on the model
np.random.seed(50)
a = np.arange(10,100,10)
for i in a:
    print(f"Trying this model with {i} estimators......")
    clf = RandomForestClassifier(n_estimators=i).fit(X_train, y_train)
    print(f"Model accurracy on test set: {clf.score(X_test, y_test) * 100:.2f}%")
    print("   ")

Trying this model with 10 estimators......
Model accurracy on test set: 72.13%

Trying this model with 20 estimators......
Model accurracy on test set: 75.41%

Trying this model with 30 estimators......
Model accurracy on test set: 75.41%

Trying this model with 40 estimators......
Model accurracy on test set: 70.49%

Trying this model with 50 estimators......
Model accurracy on test set: 73.77%

Trying this model with 60 estimators......
Model accurracy on test set: 75.41%

Trying this model with 70 estimators......
Model accurracy on test set: 75.41%

Trying this model with 80 estimators......
Model accurracy on test set: 70.49%

Trying this model with 90 estimators......
Model accurracy on test set: 72.13%